<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div class="login-box col-md-12">
          <form id="login-form" class="form" *ngIf="currentProduct">
            <h3 class="text-center text-dark">Edit {{ currentProduct.name}}</h3>
            <div class="form-group">
              <label for="name" class="text-dark">Name:</label><br />
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                required
                [(ngModel)]="currentProduct.name"
              />
            </div>
            <div class="form-group">
              <label for="image" class="text-dark">Image:</label><br />
              <input
                type="text"
                name="image"
                id="image"
                class="form-control"
                required
                [(ngModel)]="currentProduct.image"
              />
            </div>
            <div class="form-group">
              <label for="price" class="text-dark">Price:</label><br />
              <input
                type="number"
                name="price"
                id="price"
                class="form-control"
                required
                [(ngModel)]="currentProduct.price"
              />
            </div>
            <div class="form-group">
              <label for="brand" class="text-dark">Brand:</label><br />
              <input
                type="text"
                name="brand"
                id="brand"
                class="form-control"
                required
                [(ngModel)]="currentProduct.brand"
                />
            </div>
            <div class="form-group">
              <label for="description" class="text-dark">Description:</label
              ><br />
              <input
                type="text"
                name="description"
                id="description"
                class="form-control"
                required
                [(ngModel)]="currentProduct.description"
                />
            </div>
            <div class="text-center form-group">
              <button (click)="updateProduct()" class="btn btn-outline-dark btn-lg">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
