<div>
  <div class="card">
    <div class="row" *ngIf="currentProduct">
      <div class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div>
              <a
                ><img alt="{{ currentProduct.name }}" src="{{ currentProduct.image }}"
              /></a>
            </div>
          </div>

        </article>
      </div>
      <div class="col-sm-7">
        <article class="p-5 card-body">
          <h3 class="mb-3 title">Name: {{ currentProduct.name }}</h3>

          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency">Price: $</span><span class="num">{{ currentProduct.price }}</span>
            </span>
          </p>
          <dl class="item-property">
            <dt>Description</dt>
            <dd>
              <p>
                {{ currentProduct.description }}
              </p>
            </dd>
          </dl>
          <dl>
            <dt>Brand</dt>
            <dd>
              <p>
                {{ currentProduct.brand }}
              </p>
            </dd>
          </dl>

          <hr />
          <hr />
          <a *ngIf="isAuthenticated" routerLink="/products/edit/{{ currentProduct._id }}" class="mx-3 btn btn-lg btn-outline-success text-uppercase">
            Edit
          </a>
          <a *ngIf="isAuthenticated" (click)="deleteProduct()" class="mx-3 btn btn-lg btn-outline-danger text-uppercase text-danger">
            Delete
          </a>
          <a class="mx-3 btn btn-lg btn-outline-primary text-uppercase text-primary">
            <i class="fa fa-shopping-cart"></i> Add to cart
          </a>
        </article>
      </div>
    </div>
  </div>
</div>

