<div id="login">
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div class="login-box col-md-12">
                <form id="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && authForm.firstname.errors }" />
                      <div *ngIf="submitted && authForm.firstname.errors" class="invalid-feedback">
                          <div *ngIf="authForm.firstname.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && authForm.lastname.errors }" />
                      <div *ngIf="submitted && authForm.lastname.errors" class="invalid-feedback">
                          <div *ngIf="authForm.lastname.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && authForm.email.errors }" />
                    <div *ngIf="submitted && authForm.email.errors" class="invalid-feedback">
                        <div *ngIf="authForm.email.errors.required">Enter a Valid Email</div>
                    </div>
                </div>
                  <div class="form-group">
                      <label for="telephone">Telephone</label>
                      <input type="text" formControlName="telephone" class="form-control" [ngClass]="{ 'is-invalid': submitted && authForm.telephone.errors }" />
                      <div *ngIf="submitted && authForm.telephone.errors" class="invalid-feedback">
                          <div *ngIf="authForm.telephone.errors.required">telephone is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && authForm.password.errors }" />
                      <div *ngIf="submitted && authForm.password.errors" class="invalid-feedback">
                          <div *ngIf="authForm.password.errors.required">Password is required</div>
                          <div *ngIf="authForm.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button [disabled]="loading" class="mx-2 btn btn-outline-dark btn-md">
                          <span *ngIf="loading" class="mr-1 spinner-border spinner-border-sm"></span>
                          Register
                      </button>
                      <a routerLink="/login" class="mx-2 btn btn-outline-dark btn-md">Cancel</a>
                  </div>
              </form>
              </div>
          </div>
      </div>
  </div>
</div>
