.owl-carousel {
  width: 90% !important;
  margin: 10% auto;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 30% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: no-repeat scroll 0 0;
  left: -33px;
}

.owl-carousel .next-slide {
  background: no-repeat scroll -24px 0px;
  right: -33px;
}

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

.pic {
  height: 350px !important;
  width: 100%;
  margin: 10px 0;
}

#sidebar {
  overflow: hidden;
  z-index: 3;
}
#sidebar .list-group {
  min-width: 300px;
  min-height: 100vh;
}

#sidebar .list-group-item {
  border-radius: 0;
  white-space: nowrap;
}

@media (max-width:768px) {
  #sidebar {
      min-width: 35px;
      max-width: 40px;
      overflow-y: auto;
      overflow-x: visible;
      transition: all 0.25s ease;
      transform: translateX(-45px);
      position: fixed;
  }

  #sidebar.show {
      transform: translateX(0);
  }

  #sidebar::-webkit-scrollbar{ width: 0px; }

  #sidebar, #sidebar .list-group {
      min-width: 35px;
      overflow: visible;
  }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
      position: relative;
      z-index: 1;
      width: 190px;
      top: 0;
  }
  #sidebar .list-group > .list-group-item {
      text-align: center;
      padding: .75rem .5rem;
  }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
      display:none;
  }
}

.collapse.show {
visibility: visible;
}
.collapsing {
visibility: visible;
height: 0;
-webkit-transition-property: height, visibility;
transition-property: height, visibility;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.collapsing.width {
-webkit-transition-property: width, visibility;
transition-property: width, visibility;
width: 0;
height: 100%;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
